@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/**********************************/
/* 0. Variáveis
/**********************************/

:root {
    --corbg: #f5f5f5;
    --corwh: #f1fcde;
    --corbk: #090e01;
    --corlg: #def8af;
    --cormg: #88cc11;
    --cordg: #456809;

    --fontprimaria: 'Cairo', sans-serif;
    --fontsegundaria: 'Montserrat', sans-serif;
    --transition: all 0.2s linear;
    --entrelinha: 1.8em;
    --darkshadow: 0 5px 5px rgba(0, 0, 0, 0.618);
}

/**********************************/
/* 1. Estilos Gerais
/**********************************/

* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--corwh);
}

.destaque {
    color: var(--cordg);
}

/**********************************/
/* 2. Navbar
/*********************************/

.navbar {
	position: fixed;
	background: var(--cormg);
	width: 100%;
    height: 70px;
	box-shadow: var(--darkshadow);
    z-index: 3;
}

.navbar-header > h1 {
    font-family: var(--fontprimaria);
    font-size: 2.5em;
    padding-left: 20px;
    margin: 0px;
}

.navbar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-header__toggle {
    background: transparent;
    border: transparent;
    font-size: 2em;
    padding-right: 30px;
    color: var(--cordg);
    transition: var(--transition);
}

.navbar-header__toggle:hover {
    transform: scale(1.2);
}

.navbar-list {
    margin-top: 0px;
    height: 0px;
    overflow: hidden;
    transition: var(--transition);
}

.navbar-list--show-links {
    height: 100px;
}

.navbar-list__link {
    background-color: rgba(223, 248, 175, 0.364);;
    display: block;
    font-family: var(--fontsegundaria);
    font-size: 1em;
    font-weight: 700;
    padding: 5px 20px;
    text-transform: capitalize;
    color: var(--corbk);
    transition: var(--transition);
}

.navbar-list__link:hover {
    background-color: var(--cormg);
    padding-left: 25px;
}

.navbar-icons {
    display: none;
}

@media screen and (min-width: 768px){

    .navbar-header__toggle {
        display: none;
    }
    
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-list {
        height: auto;
        display: flex;
        list-style: none;
    }

    .navbar-list__link {
        background: none;
        font-family: var(--fontsegundaria);
        font-size: 1em;
        font-weight: 600; 
        color: var(--cordg);
        margin-right: 5px;
        padding-right: 30px;
    }

    .navbar-list__link:hover {
        color: var(--corlg);
        transition: var(--transition);
    }

    .navbar-icons {
        display: flex;
        list-style: none;
    }

    .navbar-icons__icon {
        margin-right: 5px;
        padding-right: 30px;
        color: var(--cordg);
        font-size: 1.2em;
        font-weight: 800;
    }

    .navbar-icons__icon:hover {
        color: var(--corlg);
        transition: var(--transition);
    }

}

/**********************************/
/* 3. Intro
/**********************************/

.div-intro {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.div-intro__img {
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.div-intro__texto {
    position: absolute;
    margin-top: 70vh;
}

.div-intro__texto > h2 {
    font-family: var(--fontprimaria);
    font-size: 1.8em;
    color: var(--corwh);
    font-weight: 500;
    margin-left: 20px;
}

.div-intro__texto > p {
    font-family: var(--fontsegundaria);
    font-size: .8em;
    color: var(--corwh);
    font-weight: 400;
    margin-left: 20px;
    width: 300px;
    line-height: var(--entrelinha);
}

/**********************************/
/* 4. Meu Perfil
/**********************************/

.section-sobre {
    width: 100%;
    padding-bottom: 20px;
    margin: auto;
}

.section__titulo {
    font-family: var(--fontprimaria);
    font-size: 1.8em;
    padding: 10px;
    text-align: center;
}

.sobre-c__img {
	width: 100%;
	height: auto;
	box-shadow: var(--darkshadow);
    object-fit: cover;
}

.sobre-texto__titulo {
	font-family: var(--fontprimaria);
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 10px;
}

.sobre-texto {
    font-family: var(--fontsegundaria);
    font-size: .8em;
    font-weight: 500;
    margin-left: 20px;
    margin-right: 20px;
    line-height: var(--entrelinha);
}

@media screen and (min-width: 768px) {

	.sobre-c {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	.sobre-texto {
		flex: 6 1 1em;
		margin-left: 1.5em;
	}

	.sobre-c__img {
		flex: 1 1 1em;
		margin-right: 1.5em;
	}
}

@media screen and (min-width: 1024px) {
    .section-sobre {
        width: 70%;
        padding-bottom: 20px;
        margin: auto;
    }
}

.buttons {
    font-family: var(--fontprimaria);
    font-size: 1.2em;
    font-weight: 600;
    text-transform: uppercase;
    background: none;
    border: none;
    cursor: pointer;
}


/**********************************/
/* 5. Trabalhos
/**********************************/

.section-trabalho {
    background-color: var(--cormg);
    width: 100%;
    margin: 0px;
    padding-bottom: 20px;
}

.section-trabalho__titulo {
    font-family: var(--fontprimaria);
    font-size: 1.8em;
    padding: 10px;
    text-align: center;
}

.trabalhos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 20px;
}

.trabalho-artigo + .trabalho-artigo {
    margin-top: 16px;
}

.trabalho_descricao {
    max-width: 300px;
    font-family: var(--fontsegundaria);
    font-size: .8em;
    font-weight: 500;
    line-height: var(--entrelinha);
}

.trabalho_titulo::before {
    content: "";
    background-color: var(--corbk);
    color: var(--corwh);
    padding: 5px;
    margin-right: .3em;
    font-family: "Font Awesome 5 Free";
    font-size: 1.2em;
    font-weight: 900;
}

.trabalho_titulo--newpapper::before {
    content: "\f1ea";
}

.trabalho_titulo--redes::before {
    content: "\f3e0";
    padding: 6px 12px;  
}

.trabalho_titulo--motion::before {
    content: "\f55b";
}

.trabalho_titulo--fotografia::before {
    content: "\f083";
    padding: 5px 10px;
}

@media screen and (min-width: 700px) {
    .trabalhos {
        justify-content: space-between;
    }

    .trabalho_descricao {
        min-width: 100px;
    }

    .trabalho-artigo + .trabalho-artigo {
        margin-top: 0px;
    }
}

@media screen and (min-width: 1024px) {
    .trabalhos {
        width: 85%;
        margin: auto;
        justify-content: space-between;
    }

    .trabalho_descricao {
        max-width: 250px;
    }

    .trabalho-artigo + .trabalho-artigo {
        margin-top: 0px;
    }
}

/**********************************/
/* 6. Rodape
/**********************************/

.navbar-rodape {
    background-color: var(--corbk);
    font-family: var(--fontsegundaria);
    font-size: .9em;
    font-weight: 400;
    text-align: center;
    text-transform: capitalize;
    padding: 10px 0px;
}

.navbar-rodape > p {
    color: var(--corwh);
    font-size: .7em;
}

.rodape-icons {
    list-style: none;
    display: flex;
    margin: 20px 0px;
    justify-content: center;
}

.rodape-icons__icon {
    margin-right: 30px;
    color: var(--corwh);
    font-size: 1.6em;
    transition: var(--transition);
}

.rodape-icons__icon:hover {
    color: var(--cormg);
}

/**********************************/
/* 7. Modal
/**********************************/
.button-close {
    font-size: .8em;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
}

.modal-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.33);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 6;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.modal {
    position: absolute;
    background-color: rgba(15, 15, 16, 0.72);
    width: 375px;
    height: auto;
    padding: 10px;
}

.modal-header {
    position: relative;
    font-size: 1em;
    text-align: right;
    padding: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.modal-footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-top: 10px;
}

/* .slider-buttons__btn-prev, .slider-buttons__btn-next {
    font-size: 2em;
    padding: 5px;
    cursor: pointer;
} */

/* @media screen and (min-width: 450px) {
    .modal-overlay {
        margin: 0px calc((100% - 450px)/2);
    }
}
     
@keyframes scale-in {
    0%{
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

.modal {
    -webkit-animation: scale-in 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
            animation: scale-in 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

@media screen and (min-width: 450px) {
    .modal {
        margin: 0px calc((100% - 450px)/2);
    }
} */

/**********************************/
/* . Modal slider Impressão
/**********************************/

.mySlides {
    display: none;
}

.mySlides img {
    width: 98%;
    object-fit: cover;
    padding: 0px 5px 20px 5px;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 0px 20px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0px;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

/**********************************/
/* . Modal REDE
/**********************************/

.mySlidesRede {
    display: none;
}

.mySlidesRede img {
    width: 95%;
    object-fit: cover;
    padding: 0 2.5%;
}

.modal-overlay__rede {
    background-color: rgba(0, 0, 0, 0.33);
    border-radius: 10px;
    width: 100vw;
    max-width: 420px;
    height: auto;
    min-height: 450px;
    position: fixed;
    top: 20%;
    left: 0;
    z-index: 1;
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
}

.modal-rede {
    background-color: rgba(15, 15, 16, 0.72);
    border-radius: 8px;
    width: 100vw;
    max-width: 400px;
    height: auto;
    min-height: 300px;
}

@media screen and (min-width: 450px) {
    .modal-overlay__rede {
        margin: 0px calc((100% - 450px)/2);
    }
}
     
@keyframes scale-in {
    0%{
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

.modal-rede {
    -webkit-animation: scale-in 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
            animation: scale-in 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

@media screen and (min-width: 450px) {
    .modal-rede {
        margin: 0px calc((100% - 450px)/2);
    }
}


/**********************************/
/* . Modal MOTION
/**********************************/

.modal-overlay__motion {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.33);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 6;
    justify-content: center;
    display: none;
}

.button-close__motion {
    position: absolute;
    font-family: var(--fontsegundaria);
    font-size: 1.2em;
    padding: 0px 10px;
    top: 13%;
    left: 88%;
    z-index: 7;
}

.modal-motion {
    background-color: rgb(0, 0, 0);
    margin-top: 35%;
    min-width: 100%;
    height: 370px;
    align-items: center;
    justify-items: center;
    position: relative;
}

div.mySlidesMotion > iframe {
    position: absolute;
    padding-bottom: 60%;
    width: 100%;
    height: 100%;
}

.modal-footer__motion {
    position: relative;
    top: 110%;
}
     
@keyframes scale-in {
    0%{
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

.modal-motion {
    -webkit-animation: scale-in 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
            animation: scale-in 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

@media screen and (min-width: 920px) {

    .modal-motion {
        position: relative;
        margin-top: 20%;
        min-width: 375px;
        min-height: auto;
        padding: 0px;
    }

    div.mySlidesMotion > iframe {
        position: absolute;
        min-width: 375px;
        min-height: auto;
    }

    .button-close__motion {
        position: absolute;
        font-family: var(--fontsegundaria);
        font-size: 1.2em;
        padding: 0px 10px;
        top: 20%;
        left: 70%;
        z-index: 7;
    }
}


/**********************************/
/* . Modal FOTO
/**********************************/

.modal-header__foto {
    position:absolute;
    font-family: var(--fontsegundaria);
    font-size: 1.2em;
    padding: 0px 10px;
    top: -30px;
    right: 10px;
    z-index: 7;
}

.modal-overlay__foto {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.33);
    width: 100%;
    /* min-width: 370px; */
    height: 270px;
    top: 23%;
    left: 0;
    z-index: 7;
    color: white;
    display: none;
}

.modal-foto {
    background-color: rgba(0, 0, 0, 0.755);
    width: 345px;
    height: 255px;
    margin: 2%;
    justify-content: center;
    overflow: hidden;
}

.mySlidesFoto img {
    width: 97%;
    object-fit: cover;
    padding: 1.5%;
}

@media screen and (min-width: 950px) {

    .modal-overlay__foto {
        min-width: 700px;
        height: 500px;
        padding: 0;
        justify-content: center;
        align-items: center;
        margin-top: 100%;
    }

    .modal-foto {
        min-width: 650px;
        height: 450px;
        padding: 0;
        margin: 0;
    }

    .modal-overlay__foto {
        margin: 0px calc((100% - 800px)/2);
    }
}
     
@keyframes scale-in {
    0%{
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

.modal-foto {
    -webkit-animation: scale-in 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
            animation: scale-in 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

@media screen and (min-width: 450px) {
    .modal-foto {
        margin: 0px calc((100% - 450px)/2);
    }
}